<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/2013110023_노다 사오리_openChallenge/src/MyFrameTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="MyFrameTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="2013110023_노다 사오리_openChallenge"/>
</launchConfiguration>
